/* 注入 CSS 文件修改 CSS 变量使用示例 */

:root {
    /* 修改全局默认字体大小 */
    --base-font-size: 17px;
 
    /* 修改全局默认字体样式 */
    --base-font-family: Rockwell,STZhongsong;
 
    /* 设置模块卡片的边框圆角 */
    --box-border-radius: 10px;
 
    /* 设置 Header 头部高度 */
    /*--header-height: 60px;
 
    /* 设置首屏的文字字体大小 */
    --first-screen-font-size: 30px;
 
    /* 设置首屏的图标字体大小 */
    /*--first-screen-icon-size: 30px;
 
    /* 设置首屏的文字颜色（亮色） */
    --first-screen-font-color-light: #E5FF2F;
 
    /* 设置首屏的文字颜色（暗色） */
    /*--first-screen-font-color-dark: rgba(135, 206, 235, 0.90);
 
    /* 设置首页文章模块鼠标悬浮时的缩放级别 */
    --home-post-hover-scale: 1.05;
 
    /* 隐藏文章内容页面作者头像 */
    /*--post-author-avatar: none;*/
 
    /* 隐藏文章内容页面的文章创建时间 */
    /*--post-create-datetime: none;*/
 
    /* 隐藏文章内容页面的文章修改时间 */
    --post-update-datetime: none;
 
    /* 
       设置文章中的图片排列位置
       居左：0 auto 0 0 （默认）
       居中：0 auto
       居右：0 0 0 auto
    */
    /*--post-img-align: 0 auto 0 0;*/

 }